* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background: #1D1D1D;
}

:root {
    --dark-gray: #505050;
    --dark-blue: #488697;
    --light-blue: #5ad6f7;
}  

@keyframes bellIcon {
    0% {transform: rotate(0deg);}

    25% {transform: rotate(-60deg);}

    50% {transform: rotate(30deg);}

    75% {transform: rotate(-30deg);}
    
    100% {transform: rotate(0deg);}
}

.navbar {
    position: fixed;
    width: 100%;
    height: 7vh;
    /* border: 1px solid red; */
}

.sideBar {
    position: fixed;
    width: 25vh;
    height: calc(100% - 7vh);
    /* border: 1px solid green; */
    bottom: 0;
    font-family: sans-serif;
    color: lightgray;
    padding-left: 1.5vh;
    overflow-y: scroll;
    padding-right: 3px;
    /* background: rgb(137, 107, 52); */
}

.sideBar h3 {text-transform: uppercase; margin: 1vh 0 2vh 0;}

.menuContainer {
    margin-bottom: 2vh;
}

.sideBarItem {
    display: flex;
    justify-content: left;
    align-items: center;
    background: var(--dark-gray);
    position: relative;
    right: 0;
    width: 90%;
    font-size: 1.25vh;
    margin: 0 0 2vh 0vh;
    cursor: pointer;
    filter: brightness(80%);
    border-radius: 10px;
    transition: 300ms;
}

.sideBarItem:hover {filter: brightness(100%); box-shadow: -2px 2px var(--light-blue);}

.sideBarIcon {
    margin-top: 0.5vh;
    transition: 300ms;
}

.sideBarItem:hover .sideBarIcon {
    filter: brightness(140%);
}

.sideBarItem:hover .sideBarHeader {
    color: white;
}

.sideBarHeader {margin-left: 1.5vh;}

.sideBarDivider, .topicsDivider {
    width: 100%;
    height: 1px;
    background: gray;
}

.subscriptionsHeader {
    padding-bottom: 0vh;
}

.subscriptionContainer {
    overflow-y: scroll;
    height: auto;
    max-height: 27.5vh;
}

.subscriptionLink {
    text-decoration: none;
}

.subscription {
    max-width: 90%;
    height: 5vh;
    background: var(--dark-gray);
    border-radius: 10px;
    margin: 0vh 0 2vh 0;
    transition: 300ms;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    filter: brightness(80%);
}

.subscription:hover {filter: brightness(100%); box-shadow: -2px 2px var(--light-blue);}

.subscriptionProfilePicture {
    height: 80%;
    border-radius: 100%;
    border: 1px solid lightgray;
    padding: 2px;
    margin-left: 1vh;
}

.subscription h4 {
    font-size: 1.25vh;
    margin-left: 1vh;
}

.topicsDivider {
    margin-top: 2vh;
}

.topicsContainer {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    min-height: 10vh;
}

.topic {
    color: white;
    font-size: 1.5vh;
    width: 100%;
    text-align: left;
    background: var(--dark-blue);
    margin-bottom: 2vh;
    padding: 0.5vh 0 0.5vh 1vh;
    border-radius: 20px;
    box-shadow: 1px 1px white;
    cursor: pointer;
    filter: brightness(80%);
    transition: 300ms;
}

.topic:hover {filter: brightness(100%);}

.navbar h1 {
    font-size: 3vh;
    font-family: sans-serif;
    color: white;
    text-transform: uppercase;
    margin: 1.5vh;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    text-shadow: 2px 1px var(--light-blue);
}

.notificationIcon, .profileImage, .arrowDown {
    position: absolute;
    right: 15vh;
    top: 3vh;
    cursor: pointer;
}

.notificationIcon:hover {
    animation: bellIcon 0.5s linear forwards;
}

.profileImage {
    height: 6vh;
    right: 8vh;
    top: 1vh;
    border: 1px solid lightgray;
    border-radius: 100%;
    padding: 2px;
    transition: 0.3s;
}

.profileImage:hover {
    border: 1px solid white;
}


.dropdown {
    background: var(--dark-gray);
    width: 20vh;
    min-height:  6vh;
    position: absolute;
    top: 8vh;
    right: 1vh;
    border-radius: 10px;
    box-shadow: -4px 4px var(--light-blue);
    overflow: hidden;
    padding-bottom: 2vh;
}

.menuItem {
    transition: background 500ms;
    margin-top: 1vh;
    margin-left: 1vh;
    padding-left: 1vh;
    height: 3.5vh;
    width: 90%;
    text-decoration: none;
    border-radius: 7px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.menuItem:hover {
    background: var(--dark-blue);
}

.menuItem span, .loginButton {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 1.5vh;
}