:root {
    --dark-gray: #505050;
    --dark-blue: #488697;
    --light-blue: #5ad6f7;
}

.profilePicture, .profilPictureEdit {
    width: 8vh;
    position: absolute;
    top: 15%;
    left: 50%;
    margin-left: -4vh;
    border-radius: 100%;
    border: 1px solid lightgray;
    padding: 4px;
}

.profilPictureEdit {
    border: 2px solid var(--dark-blue);
    cursor: pointer
}

.registerAddAvatar>input {
    display: none;
}

.profileInfo {
    width: 40vh;
    height: 20vh;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-left: -20vh;
}

.profileInfoTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}

.usernameLabel {
    color: white;
    font-family: sans-serif; 
}

.fullNameEdit {
    color: white;
    font-family: sans-serif;
    background: none;
    font-weight: bold;
    font-size: 1.6vh;
    border: 2px solid var(--dark-blue);
    box-shadow: 1px 1px 0px var(--light-blue);
    border-radius: 5px;
    padding: 0.5vh;
}

.fullNameEdit:focus, .bioEdit:focus {outline: 1px solid gray;}

.fullNameEdit {margin-bottom: 1.5vh;}

.bioEdit {
    background: none;
    color: white;
    border: 2px solid var(--dark-blue);
    box-shadow: 1px 1px 0px var(--light-blue);
    padding: 0.5vh;
    resize: horizontal;
    font-family: sans-serif;
    font-size: 1.5vh;
    width: 100%;
    border-radius: 5px;
}


.editProfile, .editProfileEdit {
    background: var(--dark-blue);
    border: none;
    padding: 0.5vh 0.8vh 0.75vh 0.8vh;
    color: white;
    height: 3.25vh;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.editProfileEdit {
    background: transparent;
    border: 2px solid var(--light-blue);
    box-shadow: 1px 1px 0px white;
}

.statContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1.5vh;
    font-family: sans-serif;
    color: white;
    height: 5vh;
    margin-top: 2vh;
}

.statContainer div {
    display: flex;
}

.statContainer h4 {
    margin-right: 0.5vh;
}

.bioContainer {
    font-family: sans-serif;
    color: white;
}

.bio {
    font-size: 1.35vh;
}

.profileContent {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60vw;
    height: auto;
    min-height: 25vh;
    margin-left: -30vw;
    display: grid;
    grid-template-columns: repeat(3, 30vh);
    grid-column-gap: 5vh;
    grid-auto-rows: 35vh;
    justify-content: center;
}

.addButton {
    width: 30vh;
    height: 30vh;
    border: 2px solid gray;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 300ms;
    cursor: pointer;
}

.addButton svg {opacity: 0.7; margin-top: -2vh;}

.addButton:hover {background: rgba(128, 128, 128, 0.187);}

.contentEditButtons {
    width: 100%;
    height: 4vh;
    display: flex;
    justify-content: start;
    align-items: center;
}

.deleteIcon {
    opacity: 0.8;
    cursor: pointer;
}

.contentItem {
    width: 30vh;
    height: 30vh;
    background: #1D1D1D;
    border-radius: 20px;
    font-family: sans-serif;
    color: lightgray;
    font-size: 1.5vh;
    border: 1px solid rgba(128, 128, 128, 0.261);
    cursor: pointer;
    transition: 300ms;
}

.contentItemLink {
    text-decoration: none;
}

.contentItem:hover {
    background: rgb(41, 41, 41);
}

.videoThumbnail {
    width: 100%;
    height: 50%;
    border-radius: 20px 20px 0 0;
}

.videoTitle {
    padding: 1vh;
    font-weight: 600;
    font-size: 1.25vh;
    color: lightgray;
}

.views {
    padding: 1vh;
    color: rgb(151, 151, 151);
}

.tags {
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-left: 1vh;
    font-size: 1.5vh;
}

.tag {
    background: var(--dark-blue);
    margin: 0 2vh 1vh 0;
    padding: 0.25vh 0.75vh 0.25vh 0.75vh;
    border-radius: 5px;
}

.addContentPopup {
    width: 80vh;
    height: 50vh;
    background: var(--dark-gray);
    position: absolute;
    top: 25%;
    left: 50%;
    margin-left: -40vh;
    z-index: 10;
}

.popupTop {
  width: 100%;
  height: 5vh;
  background: var(--dark-blue);
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 1vh;
}

.popupTop svg {cursor: pointer;}

.popupVideo {
    width: 40%;
    height: auto;
    background: gray;
    position: relative;
}

.popupLoading {
    width: 40%;
    height: 40%;
    background: var(--dark-gray);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 5vh;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
}

.popupLoading p {
  font-family: sans-serif;
  font-size: 1.25vh;
  text-transform: capitalize;
  color: lightgray;
  position: absolute;
  top: 3vh;
}













.ldsSpinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .ldsSpinner div {
    transform-origin: 40px 40px;
    animation: ldsSpinner 1.2s linear infinite;
  }
  .ldsSpinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: var(--light-blue);
  }
  .ldsSpinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .ldsSpinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .ldsSpinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .ldsSpinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .ldsSpinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .ldsSpinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .ldsSpinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .ldsSpinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .ldsSpinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .ldsSpinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .ldsSpinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .ldsSpinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes ldsSpinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }